.card-product-detail {
    background: #ffffff;
    border: 2px solid #A1869E;
    width: 50%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 20px;
    .img-detail{
        padding: 10px;
        img{
           width: 350px;
       }
    }
    .info-detail{
        margin: auto 0;
        
        h3{
            color: #0B1D51;
        }
        .card-description{
            font-size: 16px;
        }
        .card-price{
            font-size: 20px;
            color: #c66;
            &:before{
                content: 'COP $';
            }
        }
        .btn{
            font-family: 'Bellota', cursive;
            display: inline-block;
            border: none;
            padding: .5em .75em;
            text-align: center;
            font-weight: 300;
            border-radius: 5px;
            font-size: .875em;
            margin-top: 0.45rem;
            background-color: #797596;
            color: #ecf0f1;
            width: 300px;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .card-product-detail {
        display: block;
        .img-detail{
            img{
                width: 250px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .card-product-detail {
        display: block;
        .img-detail{
            width:175px;
        }
    }
}