section{
    background: #ffffff;
    color: black;
    font-size: 16px;
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
    h3{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;       
    }
    p{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        
        span{
            font-size: 20px;
    
        }
    }
    
}