.home{
    background: #ffffff;
    
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    div{
        margin: auto;
        h1,span{
            color: #0B1D51;
            display: block;
            margin-left: auto;
            margin-right: auto; 
        }
    }
}