.navbar-items{
    background: #A1869E; ;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    .navbar-logo{
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
        img{
            width: 45%;
        }
    }
    .nav-menu{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: 20px;
        .nav-link a{
            color:#0B1D51;
            text-decoration: none;
            padding: 10px 20px;
        }
    }
        
}    
    