.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
}